<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<header class="bg-dark" style="height: 60px;">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="p-3 mb-2 text-white col-10">
                Logged in as:
                    <span th:text="${#authentication.getName()}"></span> with role(s):
                    <!-- <span th:each="role : ${user.getRoles()}" th:text="${#strings.listSubstringAfter(role, 'ROLE_')}"></span> -->
                   
                    <span th:each="role : ${#authentication.getAuthorities()}" th:text="${role.getAuthority().replace('ROLE_', ' ')}"></span>

                    <!-- <span th:each="role : ${user.getRoles()}" th:text="${role.getRole().replace('ROLE_', '')}"></span> -->

                </div>                
            <div class="col d-flex text-white justify-content-end">
                <form th:method="POST" th:action="@{/logout}">
                    <button type="submit" class="btn btn-secondary">Logout</button>
                </form>
            </div>
        </div>
    </div>
</header>

<body>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="№">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light">
            <h1>Admin panel </h1>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin.html">Users table</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" th:href="@{/admin/new}">New User</a>
                </li>
            </ul>
                 
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">UserName</th>
                        <th scope="col">email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getName()}"></td>
                            <td th:text="${user.getSurname()}"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td th:text="${user.getEmail()}"></td>
                            <td>
                                <span th:each="role : ${user.getRoles()}" th:text="${role.getRole().replace('ROLE_', ' ')}"></span>
                            </td>
                            <td>
                                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                                        Edit
                                    </button>
                                    
                            </td>
                            <td>
                                    <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                        Delete
                                      </button>
                                
                            </td>
                </table>
                            
<!-- Modal Edit-->

<div class="modal fade" id="editModal" tabindex="-1" aria-bs-labelledby="editModalLabel" aria-bs-hidden="true">
    
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit User</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close">
                <span aria-bs-hidden="true">&times;</span>
            </button>
        </div>
        <!-- Edit Form -->
        <div class="modal-body">
            <form th:method="POST" th:object="${user}" th:each="user : ${users}" th:action="@{/admin/edit{id}(id=${user.getId()})}">
                <div class="form-group">
                    <label for="username" class="col-sm-12 col-form-label">User name</label>
                      <input type="text" class="form-control" th:field="*{username}" id="username" name="username" placeholder="имя пользователя">
                      <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
                    </div>
                
                    <div class="form-group">
                    <label for="name" class="col-sm-12 col-form-label">First name</label>
                      <input type="text" class="form-control" th:field="*{name}" id="name" name="name" placeholder="имя">
                      <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                    </div>
                
                    <div class="form-group">
                    <label for="surname" class="col-sm-12 col-form-label">Last name</label>
                      <input type="text" class="form-control" th:field="*{surname}" id="surname" name="surname" placeholder="фамилия">
                      <div class="invalid-feedback" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Last name Error</div>
                    </div>
                
                    <div class="form-group">
                    <label for="email" class="col-sm-12 col-form-label">email</label>
                    <input type="email" class="form-control" th:field="*{email}" id="email" name="email" placeholder="email">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
                    </div>
                
                    <div class="form-group">
                    <label for="password" class="col-sm-12 col-form-label">Password</label>
                    <input type="password" class="form-control" th:field="*{password}" id="password" name="password" placeholder="введите пароль">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                    </div>

                    <div class="form-group text-center" multiple aria-bs-label="multiple select">
                    <label for="roles">Role</label>
                    <select class="form-select" id="roles" name="roles" multiple>
                      <option th:each="role : ${roles}"
                              th:text="${role.getRole()}"
                              th:value="${role.getId()}"
                              th:field="*{roles}"></option>
                    </select>
                  </div> 
                  <button type="submit" class="btn btn-success">Edit user</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
</div>
                        
<!-- Modal Delete-->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-bs-labelledby="deleteModalLabel" aria-bd-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close">
                  <span aria-bs-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form th:method="DELETE" th:each="user : ${users}"th:action="@{/admin/delete{id}(id=${user.getId()})}">
                delete user
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>
      
    </div>  
</div> 
</div>  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>







