<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Show User</title>
</head>
<body>
<p th:text="${allUsers.getId()}">VALUE</p>
<p th:text="${allUsers.getName()}">VALUE</p>
<p th:text="${allUsers.getSurname()}">VALUE</p>

<a th:href="@{/users/{id}/edit(id=${allUsers.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/user/{id}(id=${allUsers.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>